/* @media only screen and (min-width: 1280px) { */
@media only screen and (min-width: 1001px) {
    
/* Universal */
header, section, footer {
    scroll-snap-align: start;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1.5rem;
}

a {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

button {
    width: 2.5rem;
    height: 2.5rem;
}

select {
    height: 2.8rem;
    font-size: 1.5rem;
    padding-left: 0.2rem;
    border: none;
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
}

select > option {
    font-size: 1rem;
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
}

svg {
    width: 1.8rem;
    height: 1.8rem;
}

button:hover {
    background-color: var(--hover-color);
    transition: background-color 0.2s;
}

.box:hover {
    box-shadow: var(--hover-shadow);
    transition: box-shadow 0.2s;
}

.menu.hide {
    opacity: 0;
    transform: translateX(-25rem);
    transition: transform 0.5s, opacity 0.5s 0.5s;
}

.notifications.hide {
    opacity: 0;
    transform: translateX(30rem);
    transition: transform 0.5s, opacity 0.5s 0.5s;
}

.notifications {
    z-index: 100000;
    top: 1rem;
    right: 1rem;
    position: fixed;
    padding: 1%;
    font-size: 1.2rem;
    background-color: var(--error);
    border-radius: var(--border-radius);
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0s;
}

label {
    margin: 0.1rem;
    font-size: 1rem;
}

input, textarea {
    font-size: 1.1rem;
}



/* Menu Section */
.menu {
    z-index: 100000;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 20rem;
    padding: 1%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s, opacity 0s;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Menu Header */
.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
}

.menu-header button {
    border-radius: var(--sub-border-radius);
}

/* .menu-header #resume {
    font-size: 1.5vw;
    justify-content: start;
    gap: 1vw;
    padding: 0.5vw;
    overflow: auto;
    scrollbar-width: none;
    color: transparent;
    transition: width 0.2s 0.2s, color 0.2s, background-color 0.2s 0.4s;
    z-index: 10;
} */

/* .menu-header #resume:hover {
    width: 13vw;
    color: var(--content-color);
    background-color: #F4F7F9;
    transition: width 0.2s 0.2s, color 0.2s 0.4s;
    z-index: 10;
} */

.menu-header .menu-title {
    width: 32%;
    position: absolute;
    font-weight: bold;
    margin-left: 58%;
}

/* Menu List */
.menu-list {
    height: 100%;
}

.menu-list li button {
    width: 100%;
    border-radius: var(--sub-border-radius);
}

.menu-list li button a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.menu div {
    display: flex;
    flex-direction: row;
}

.menu .themes, .menu .backgrounds, .menu .languages {
    display: flex;
    flex-direction: column;
}

.menu div button {
    border-radius: var(--sub-border-radius);
}

.menu-list li button a span {
    padding-left: 0.5rem;
}

/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.theme-switch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.theme-switch div {
    width: 100%;
    height: 2.5rem;
}

.theme-switch div input {
    display: none;
}

.theme-switch div label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
    cursor: pointer;
}

.theme-switch div input[type="radio"]:checked + label {
    background-color: var(--button-color);
}

.background-switch {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.background-switch div {
    width: 100%;
    height: 2.5rem;
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
    cursor: pointer;
}

.background-switch div label {
    width: 100%;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.background-switch div input {
    width: 0;
    height: 0;
}

.background-switch button {
    width: 6.5rem;
}



/* Resume File */
.resume-file.hide {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.resume-file {
    z-index: 1000000;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    top: 1rem;
    bottom: 1rem;
    left: 15vw;
    right: 15vw;
    opacity: 1;
    transition: opacity 0.2s;
}

.resume-file iframe {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
}

.resume-menu {
    margin-right: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.resume-menu button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--sub-border-radius);
}

.resume-menu button svg {
    width: 1.8rem;
    height: 1.8rem;
}



/* Home Section */
.home {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    padding: 15vh 8% 3rem 8%;
}

.home-text {
    min-width: 30rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.home-text h1 {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
}

.home-text h2 {
    font-size: 2.3rem;
    font-weight: bold;
}

.home-text h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

/* Home image */
.home-image {
    height: 24.5rem;
    width: 100%;
    min-width: 19.6rem;
    max-width: 50rem;
    object-fit: cover;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}




/* Navbar */
.navbar {
    z-index: 1000;
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
    margin: 0% 8%;
    padding: 1rem;
    transition: box-shadow 0.2s, margin 0.3s ease-in-out;
}

.navbar.top {
    margin: 1rem 1rem;
    box-shadow: var(--hover-shadow);
}

.navbar-left, .navbar-right {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.navbar .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--content-color);
    text-decoration: none;
}

.navbar .navbar-title {
    width: 11rem;
}

.navbar button {
    border-radius: var(--sub-border-radius);
}



/* About Section */
.about {
    padding-top: 18dvh;
}

.about-container{
    height: 36rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3rem;
}

.about-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 60vw;
    height: 32rem;
    padding: 1.5rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.about-paragraph img {
    width: 15rem;
    height: 15rem;
    border-radius: var(--sub-border-radius);
    margin-right: 1rem;
}

.about-paragraph div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 19rem;
    overflow: auto;
    scrollbar-width: thin;
}

/* About Status */
.about-status {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: max-content;
    gap: 3rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.about-status:hover {
    background-color: var(--button-color);
}

.about-status a {
    width: 100%;
    justify-content: start;
}

.about-status svg {
    margin: 1rem;
}

.about-status svg:nth-of-type(2) {
    margin: 0;
    position: absolute;
    right: 1rem;
}

/* Expertise and Skill */
.about-expertise {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 23rem;
    max-height: max-content;
    padding: 1rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.about-expertise h2 {
    padding: 1rem;
}

.expertise-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 1rem;
}

.expertise-item {
    width: 6rem;
    height: 6rem;
    border-radius: var(--sub-border-radius);
}

.expertise-item  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.expertise-item img {
    width: 3rem;
    height: 3rem;
}

.expertise-item h3 {
    font-size: 1rem;
    font-weight: bold;
}



/* Projects Section */
.projects {
    padding-top: 18dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 3rem;
}

.projects-list {
    display: flex;
    gap: 3rem;
}

.project {
    width: 26vw;
    max-width: 36rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.project .project-item img {
    width: 100%;
    border-radius: var(--sub-border-radius);
    object-fit: cover;
}

.project .project-item h2 {
    text-align: center;
    margin: 2% 0;
}

.project .project-item h3 {
    text-align: center;
}

.project .project-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8rem;
}

.project .project-buttons button {
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
}

.project .project-buttons button:nth-of-type(1) {
    width: 85%;
}



/* Contact Section */
.contact {
    position: relative;
    padding-top: 16dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 2rem;
}

.contact .contact-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

/* Contact and Social Media */
.contact .contact-content .contact-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact .contact-content .contact-text .upper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contact .contact-content .contact-text .upper button {
    height: 12rem;
}

.contact .contact-content .contact-text .upper button .upper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

.contact .contact-content .contact-text .upper .upper-item img {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.contact .contact-content .contact-text .upper .upper-item div {
    text-align: center;
}

.contact .contact-content .contact-text .box {
    width: 100%;
    height: 100%;
}

.contact .contact-content .contact-text button .lower-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
}

/* Form */
.contact .contact-content .contact-form {
    width: 44rem;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
    transition: opacity 0.5s;
}

.contact .contact-content .contact-form button svg {
    margin-left: 1rem;
}

.contact .contact-content .contact-form h2 {
    margin-bottom: 1rem;
}

.contact .contact-content .contact-form input {
    width: 20rem;
    padding: 0.5rem 0.8rem;
    border-radius: var(--sub-border-radius);
}

.contact .contact-content .contact-form textarea {
    height: 15rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: var(--sub-border-radius);
}

.contact .contact-content .contact-form .form-identity {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact .contact-content .contact-form .form-identity div {
    display: flex;
    flex-direction: column;
}

/* Form Done */
.contact .contact-content .form-done {
    visibility: hidden;
    opacity: 0;
    margin-left: 33.45rem;
    width: 44rem;
    height: 31.2rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2.5vw;
    background-color: var(--background-content);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--border-radius);
    transition: opacity 0.5s;
}

.contact .contact-content .form-done svg {
    width: 8rem;
    height: 8rem;
}

.contact .contact-content .form-done button {
    font-size: 1.5rem;
    width: 50%;
    background-color: var(--hover-color);
    backdrop-filter: var(--backdrop-content);
    border-radius: var(--sub-border-radius);
}

.contact .contact-content .form-done button:hover {
    background-color: var(--button-color);
}



/* Footer */
.footer {
    padding: 1.5rem;
    margin: 0.5rem;
    margin-top: 18dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background-color: var(--button-color);
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.footer-title {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footer-title img {
    width: 4rem;
}

.footer-title h1 {
    font-size: 2rem;
    text-align: left;
}

.footer-title h2 {
    font-size: 1.2rem;
}


.footer-title-text {
    display: flex;
    flex-direction: column;
}

.footer-list {
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 0.2rem;
}

.footer-list ul li:nth-of-type(1) {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-list ul li a {
    font-size: 1.2rem;
    font-weight: lighter;
}

}