@import url("desktop.css");
@import url("tablet.css");
@import url("mobile.css");
@font-face {
    font-family: "Outfit-Medium";
    src: url("../fonts/Outfit-Medium.ttf") format("truetype");
}

/* Root */
:root {
    --border-radius: 0.5rem;
    --sub-border-radius: 0.25rem;
    --backdrop-content: blur(20px);
}

[data-lang] {
    white-space: pre-line;
}

/* Light Theme Variable */
[theme="light"] {
    --background-body: #add0ff;
    --background-content: #ffffff80;
    --button-color: #00abff;
    --content-color: #363636;
    --hover-color: #ffffffba;
    --hover-shadow: #00000030 0 10px 15px;
    --error : #ff3434;
}

/* Dark Theme Variable */
[theme="dark"] {
    --background-body: #050120;
    --background-content: #20203580;
    --button-color: #113388;
    --content-color: #fff;
    --hover-color: #303045ba;
    --hover-shadow: #ffffff30 0 6px 15px;
    --error : #aa3434;
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit-Medium", Arial;
    color: var(--content-color);
    scroll-behavior: smooth;
    transition: background-color 0.2s;
    box-sizing: border-box;
}

html {
    background-color: var(--background-body);
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    text-align: initial;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--border-radius);
    background-color: transparent;
    transition: background-color 0.2s,  box-shadow 0.2s;
}

/* Highlight */
button:focus, button:active {
    -webkit-tap-highlight-color: transparent;
}

select {
    cursor: pointer;
}

h1 {
    font-weight: bold;
    text-align: center;
}

h3 {
    font-weight: normal;
}

p {
    font-weight: normal;
}

form button {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    background-color: var(--hover-color);
    border-radius: var(--sub-border-radius);
}

form button:hover {
    background-color: var(--button-color);
}

input, textarea {
    border: none;
    font-weight: normal;
    resize: none;
    background-color: var(--hover-color);
    transition: box-shadow 0.2s;
}

input:focus, textarea:focus, select:focus {
    box-shadow: var(--hover-shadow);
    transition: box-shadow 0.2s;
    border: none;
    outline: none;
}

.menu-open {
    overflow-y: hidden;
}

/* Hidden Content */
.hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

.a-hide {
    text-indent: -9999px;
}

span.hide{
    opacity: 0;
    transition: opacity 0.5s 0.5s;
}

.overlay.hide {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.overlay {
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000040;
    backdrop-filter: blur(2px);
    opacity: 1;
    transition: opacity 0.5s;
}

/* Web Text Selection */
::selection {
    background-color: var(--button-color);
    color: var(--content-color);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: var(--background-content);
}

::-webkit-scrollbar-thumb {
    background: var(--content-color);
    border-radius: var(--sub-border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-color);
}